<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="../../">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="./bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="./bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="./bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" href="#/">
      <img src="./images/logo.png">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <div class="pull-left  hidden-xs" id="folder-navbar">
      <ul class="nav navbar-nav folder-li">
        <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]" style="display: none; ">
          <a ng-href=./v0/quick-start/index.html class="dropdown-toggle map_folder" data-toggle="dropdown" role="button" aria-expanded="false" title="Quick Start" href=./v0/quick-start/index.html>
            <span ng-bind="folder.label" class="link-restrict ng-binding">Quick Start</span>
           </a>
          <ul class="dropdown-menu">
            <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/quick-start/installation.html title="Installation and Usage" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/installation.html>Installation and Usage</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
              <a ng-href=./v0/quick-start/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/index.html>index</a>
            </li><!-- end ngRepeat: file in folder.files -->
          </ul>
        </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]" style="display: none; ">
          <a ng-href=./v0/available-commands/index.html class="dropdown-toggle map_folder" data-toggle="dropdown" role="button" aria-expanded="false" title="Available Commands" href=./v0/available-commands/index.html>
            <span ng-bind="folder.label" class="link-restrict ng-binding">Available Commands</span>
           </a>
          <ul class="dropdown-menu">
            <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/available-commands/new.html title="new" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/new.html>new</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/available-commands/platforms.html title="platforms" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/platforms.html>platforms</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/available-commands/plugins.html title="plugins" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/plugins.html>plugins</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/available-commands/status.html title="status" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/status.html>status</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
              <a ng-href=./v0/available-commands/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/index.html>index</a>
            </li><!-- end ngRepeat: file in folder.files -->
          </ul>
        </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]" style="display: none; ">
          <a ng-href=./v0/custom-plugins/index.html class="dropdown-toggle map_folder" data-toggle="dropdown" role="button" aria-expanded="false" title="Custom Plugins" href=./v0/custom-plugins/index.html>
            <span ng-bind="folder.label" class="link-restrict ng-binding">Custom Plugins</span>
           </a>
          <ul class="dropdown-menu">
            <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
              <a ng-href=./v0/custom-plugins/custom-plugins.html title="Custom Plugins" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/custom-plugins.html>Custom Plugins</a>
            </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
              <a ng-href=./v0/custom-plugins/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/index.html>index</a>
            </li><!-- end ngRepeat: file in folder.files -->
          </ul>
        </li><!-- end ngRepeat: folder in map[currentVersion] -->
      </ul>
      <ul class="nav navbar-nav category-li" style="display: block; ">
        <li class="dropdown menu-large">
          <a class="dropdown-toggle pointer" data-toggle="dropdown">more <b class="caret"></b></a>
          <ul class="dropdown-menu megamenu row">
            <!-- ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
              <ul>
                <li class="dropdown-header">
                  <a ng-href=./v0/quick-start/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Quick Start" href=./v0/quick-start/index.html>Quick Start</a>
                </li>
                <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/quick-start/installation.html title="Installation and Usage" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/installation.html>Installation and Usage</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                  <a ng-href=./v0/quick-start/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/index.html>index</a>
                </li><!-- end ngRepeat: file in folder.files -->
              </ul>
            </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
              <ul>
                <li class="dropdown-header">
                  <a ng-href=./v0/available-commands/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Available Commands" href=./v0/available-commands/index.html>Available Commands</a>
                </li>
                <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/available-commands/new.html title="new" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/new.html>new</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/available-commands/platforms.html title="platforms" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/platforms.html>platforms</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/available-commands/plugins.html title="plugins" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/plugins.html>plugins</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/available-commands/status.html title="status" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/status.html>status</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                  <a ng-href=./v0/available-commands/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/index.html>index</a>
                </li><!-- end ngRepeat: file in folder.files -->
              </ul>
            </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
              <ul>
                <li class="dropdown-header">
                  <a ng-href=./v0/custom-plugins/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Custom Plugins" href=./v0/custom-plugins/index.html>Custom Plugins</a>
                </li>
                <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                  <a ng-href=./v0/custom-plugins/custom-plugins.html title="Custom Plugins" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/custom-plugins.html>Custom Plugins</a>
                </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                  <a ng-href=./v0/custom-plugins/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/index.html>index</a>
                </li><!-- end ngRepeat: file in folder.files -->
              </ul>
            </li><!-- end ngRepeat: folder in map[currentVersion] -->
          </ul>
        </li>
      </ul>
    </div>
    <div class="pull-right" id="other-navs">
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown search-dropdown">
          <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}" style="right: 50px; "><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
        </li>
        <li class="dropdown  hidden-xs">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <span ng-bind="currentVersion" class="ng-binding">v0</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu version-switcher" role="menu">
            <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
              <a ng-href=./v0.html ng-bind="version" class="ng-binding" href=./v0.html>v0</a>
            </li><!-- end ngRepeat: version in versions -->
          </ul>
        </li>
        <!-- ngIf: docbaseOptions.method == 'github' -->
        <!-- ngIf: docbaseOptions.method != 'github' --><li class="github-star hidden-xs ng-scope" data-ng-if="docbaseOptions.method != 'github'">
          <iframe src="https://ghbtns.com/github-btn.html?user=react-native-contrib&amp;repo=rsx&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li><!-- end ngIf: docbaseOptions.method != 'github' -->
      </ul>
    </div>
    <!-- Only for mobile view -->
    <div class="mobile-nav visible-xs-block">
      <ul class="nav navbar-nav">
        <li class="dropdown col-xs-6 p-l-0">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <span ng-bind="currentVersion" class="ng-binding">v0</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu version-switcher" role="menu">
            <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
              <a ng-href=./v0.html ng-bind="version" class="ng-binding" href=./v0.html>v0</a>
            </li><!-- end ngRepeat: version in versions -->
          </ul>
        </li>
        <!-- ngIf: docbaseOptions.method == 'github' -->
        <!-- ngIf: docbaseOptions.method != 'github' --><li class="github-star  col-xs-6 p-r-0 ng-scope" data-ng-if="docbaseOptions.method != 'github'">
          <iframe src="https://ghbtns.com/github-btn.html?user=react-native-contrib&amp;repo=rsx&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li><!-- end ngIf: docbaseOptions.method != 'github' -->
        <li class="col-xs-12">
          <ul class="nav navbar-nav">
            <li class="dropdown menu-large">
              <a class="dropdown-toggle pointer" data-toggle="dropdown">more <b class="caret"></b></a>
              <ul class="dropdown-menu megamenu row">
                <!-- ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
                  <ul>
                    <li class="dropdown-header">
                      <a ng-href=./v0/quick-start/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Quick Start" href=./v0/quick-start/index.html>Quick Start</a>
                    </li>
                    <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/quick-start/installation.html title="Installation and Usage" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/installation.html>Installation and Usage</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                      <a ng-href=./v0/quick-start/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/quick-start/index.html>index</a>
                    </li><!-- end ngRepeat: file in folder.files -->
                  </ul>
                </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
                  <ul>
                    <li class="dropdown-header">
                      <a ng-href=./v0/available-commands/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Available Commands" href=./v0/available-commands/index.html>Available Commands</a>
                    </li>
                    <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/available-commands/new.html title="new" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/new.html>new</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/available-commands/platforms.html title="platforms" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/platforms.html>platforms</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/available-commands/plugins.html title="plugins" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/plugins.html>plugins</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/available-commands/status.html title="status" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/status.html>status</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                      <a ng-href=./v0/available-commands/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/available-commands/index.html>index</a>
                    </li><!-- end ngRepeat: file in folder.files -->
                  </ul>
                </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="col-sm-3 megamenu-item ng-scope" ng-repeat="folder in map[currentVersion]">
                  <ul>
                    <li class="dropdown-header">
                      <a ng-href=./v0/custom-plugins/index.html class="map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" title="Custom Plugins" href=./v0/custom-plugins/index.html>Custom Plugins</a>
                    </li>
                    <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
                      <a ng-href=./v0/custom-plugins/custom-plugins.html title="Custom Plugins" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/custom-plugins.html>Custom Plugins</a>
                    </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
                      <a ng-href=./v0/custom-plugins/index.html title="index" ng-bind="file.label" class="ng-binding" href=./v0/custom-plugins/index.html>index</a>
                    </li><!-- end ngRepeat: file in folder.files -->
                  </ul>
                </li><!-- end ngRepeat: folder in map[currentVersion] -->
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.Only for mobile view -->
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div role="flatdoc" class="content-root ng-scope ng-hide" data-ng-show="!index">
  <div class="menubar">
    <div class="menu section" role="flatdoc-menu"></div>
  </div>
  <div role="flatdoc-content" class="content"></div>
  	<div class="footer content">
		<div class="row">
			<div class="col-xs-12">	
				<span data-ng-class="{disabled: paginationLinks.prev == null}" class="pull-left disabled">
					<a href="" class="paginationLink pull-left">Previous</a>
				</span>
				<span data-ng-class="{disabled: paginationLinks.next == null}" class="pull-right disabled">
					<a href="" class="paginationLink pull-right">Next</a>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- ngIf: index --><div class="index-container ng-scope" data-ng-if="index">
	<div class="container">
		<div class="row">
			<h1 class="col-xs-12 ng-binding">
				available-commands (4 files)
			</h1>
		</div>	
		<div class="row indexLinkContainer">
			<ul class="col-xs-12 col-sm-6">
				<!-- ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><li class="col-xs-12 ng-scope" data-ng-repeat="(key, file) in indexList" data-ng-if="file.name != 'index' &amp;&amp; (key+1) &lt;= indexList.length/2">
					<a href=./v0/available-commands/new.html class="col-xs-12 ng-binding"> new</a>
				</li><!-- end ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><li class="col-xs-12 ng-scope" data-ng-repeat="(key, file) in indexList" data-ng-if="file.name != 'index' &amp;&amp; (key+1) &lt;= indexList.length/2">
					<a href=./v0/available-commands/platforms.html class="col-xs-12 ng-binding"> platforms</a>
				</li><!-- end ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) <= indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList -->
			</ul>
			<ul class="col-xs-12 col-sm-6">
				<!-- ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><li class="col-xs-12 ng-scope" data-ng-repeat="(key, file) in indexList" data-ng-if="file.name != 'index' &amp;&amp; (key+1) &gt; indexList.length/2">
					<a href=./v0/available-commands/plugins.html class="col-xs-12 ng-binding"> plugins</a>
				</li><!-- end ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><li class="col-xs-12 ng-scope" data-ng-repeat="(key, file) in indexList" data-ng-if="file.name != 'index' &amp;&amp; (key+1) &gt; indexList.length/2">
					<a href=./v0/available-commands/status.html class="col-xs-12 ng-binding"> status</a>
				</li><!-- end ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList --><!-- ngIf: file.name != 'index' && (key+1) > indexList.length/2 --><!-- end ngRepeat: (key, file) in indexList -->
			</ul>
		</div>
	</div>
</div><!-- end ngIf: index --></div>

 <script type="text/javascript" src="./docbase-config.js"></script>
  <script type="text/javascript" src="./bower_components/docbase/dist/js/main.unique.js"></script>



</body><script>$(function(){  $('.search-form').searchAppbase('./search-index.json', true); $(document).ready(function(){ setTimeout(function(){ $('#folder-navbar').megaMenu(); },200); }); });</script></html>